/* Tab1.css */
.content {
  background-color: #020427;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  width: 48%;
  margin-bottom: 20px;
  cursor:grab;
  border: 1px solid #08ed4d;
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.3s;
}


li:hover {
  transform: scale(1.02);
}

.thumbnail-container {
  display: flex;
  justify-content: center;
}

.thumbnail-container img {
  max-width: 35vh;
  max-height: 15vh;
  border-radius: 3px;
}

.title {
  font-weight: bold;
}

.author {
  color: #666;
}
