@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
.tela2{
    background-attachment: fixed;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Young Serif', serif;
    font-size: 2vh;
}

h1{
    font-family: 'Abel', sans-serif;
    font-style: italic;
}