/* Tab4.css */

.ionContent,
.container, h1, h2, p{
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #f9f9f9;
  text-align: center; /* Centraliza o texto */
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #007bff;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007bff;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: left; /* Alinha as listas à esquerda */
}

li {
  margin-bottom: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Tab4.css */
